.pizza-title{
    padding: 20px 45px 40px 45px;
    &__text{
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000;
    }
}

@media(max-width:768px){
    .pizza-title{
        padding: 20px 20px 30px;
    }
}

@media(max-width:567px){
    .pizza-title{
        &__text{
            font-size: 25px;
            text-align: center;
        }
    }
}